@import "tailwindcss";
@import "@/pages/Weather/styles.css";

@layer base {
  html {
    font-size: 7px;
    font-family: "Inter", sans-serif;
    line-height: 1.2;
  }

  h2 {
    font-size: var(--text-size-large);
    font-weight: 600;
  }

  h3 {
    font-size: var(--text-size-medium);
    font-weight: 500;
  }

  p {
    font-size: var(--text-size-small);
  }

  body,
  header,
  main,
  p,
  h1,
  h2,
  h3 {
    margin: 0;
  }
}

@theme {
  --color-primary: #0088ff;
  --color-secondary: #1f46ac;
  --color-light-gray: #b9b9b9;
  --color-light: #fff;

  --spacing-space-large: 2.4rem;
  --spacing-space-medium: 1.6rem;
  --spacing-space-small: 0.8rem;

  --radius-r-large: 24px;
  --radius-r-medium: 16px;

  --text-size-large: 2.4rem;
  --text-size-medium: 1.6rem;
  --text-size-small: 1.4rem;

  --breakpoint-xs: 30rem;
  --breakpoint-m: 61.5rem;
}

@layer components {
  .flexHorizontal {
    display: flex;
    justify-content: space-between;
  }

  .flexVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 500px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 10px;
  }
}
